<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gui Portfolio</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="terminal">
  <p id="txt"></p>
</div>

<div class="lista">
  <ul>
    <li><a href="https://www.linkedin.com/in/guilherme-sales-35a580299/">Linkedin</a></li>
    <li><a href="https://github.com/kill74">GitHub</a></li>
    <li><a href="https://x.com/Gwyuii32">Twitter</a></li>
  </ul>
</div>
    <p>Olá! Sou o Guilherme Sales, um estudante de Multimédia apaixonado por programação e tecnologia open source.<br>
    O meu foco principal é desenvolver as minhas competências em software e <br> contribuir ativamente para projetos de código aberto, especialmente aqueles relacionados com Linux.<br>
    Como entusiasta de Linux e defensor da filosofia open source, estou constantemente <br> a explorar novas formas de aprender e colaborar em comunidades tecnológicas.<br>
    Acredito firmemente no poder do desenvolvimento comunitário de software e <br> na importância de partilhar conhecimentos.<br>
    O meu objetivo é crescer como programador através da participação em projetos open source significativos.<br>
    Pretendo começar com contribuições simples, como melhorias na documentação, e gradualmente avançar <br> para contribuições mais substanciais de código.<br>
    Estou empenhado em documentar a minha jornada de aprendizagem e desenvolvimento, partilhando os meus <br> sucessos e desafios ao longo do caminho.<br>
    Acredito que ao mostrar o processo real de construção de competências, posso inspirar outros aspirantes a <br> programadores a perseguirem os seus objetivos.<br>
    Através do meu trabalho e dedicação, espero não só melhorar as minhas próprias competências, mas também <br> contribuir para a comunidade open source e ajudar a tornar a tecnologia mais acessível e inclusiva para todos.</p>
</div>
<br>
<div class="terminal">
  <p id="txt1"></p>
</div>
<script src="/public/Js/style.js"></script>
</body>
</html>
